<div class="page-header">
<h1><%= @product.title %></h1>
</div>
<p>
  <strong>Price:</strong> <br>
 <%= @product.json.fetch("offerPrice", "No price") %>
</p>
<p>
  <strong>Brand:</strong><br>
 <%= @product.json.fetch("brand", "No brand") %>
</p>
<p>
  <strong>Description:</strong><br>
 <%= @product.json.fetch("text", "No description") %>
</p>
<p>
  <strong>Category:</strong> <br>
 <%= @product.json.fetch("inferredCategory_beta", "No category") %>
</p>

<p>
  <strong>Product Id:</strong> <br>
 <%= @product.json.fetch("productId", "No Id") %>
</p>
<p>
  <strong>Product URL:</strong> <br>
 <%=  link_to 'Click here',@product.json.fetch("pageUrl", "No Url") %>
</p>

<p>
  <strong>Images:</strong> <br>
 <% @product.json.fetch("images", "No images").each do |img|%>
 <%= image_tag(img["url"], height:img["height"], width:img["width"])%> <br>
 <% end %>
</p>
<!-- <strong>Json:</strong>
<% @product.json.each do |key, val| %>
<p>
  <%= key %> <br>
  <%= val %> </p>
  <% end %> -->
